# Mailbox settings sample file

set mbox_type = Maildir

set folder = ~/Mail
set spoolfile = ~/Mail/personal/inbox  # folder in which to start mutt
set mbox = ~/Mail/personal/archive
unset record
unset postponed

set move = no  # move read mails automatically to mbox

mailboxes =personal/inbox =personal/archive
