# Store message headers locally to speed things up.
# Header caching greatly speeds up opening large folders because for remote folders, headers usually only need to be downloaded once.
# For Maildir and MH, reading the headers from a single file (using a single database per folder) is much faster than looking at possibly thousands of single files (since Maildir and MH use one file per message.)
# It can point to a file or a directory. If set to point to a file, one database file for all folders will be used (which may result in lower performance), but one file per folder if it points to a directory.
set header_cache = ~/.cache/mutt

# use very high $read_inc to speed up reading hcache'd maildirs
folder-hook . 'set read_inc=1000'

# sort/threading
set sort = threads
set sort_aux = reverse-last-date-received
set sort_re

# format
set date_format = "%d/%m/%y %H:%M"
set index_format="%4C | %Z [%d] %-20.20F %s (%c)"

# html
auto_view text/html	 # view html automatically
alternative_order text/plain text/enriched text/html  # save html for last

# misc
set pager_stop = yes # stop at the end instead of dispalying next mail
set sleep_time = 0 # be fast. https://hroy.eu/tips/mutt/first/

# sidebar
set sidebar_visible = no # hidden by default. Use the key binding to show it
set sidebar_width = 20
set sidebar_short_path = yes # use abbreviated mailbox paths
set sidebar_folder_indent = yes # indent mailbox paths if they are abbrev
